<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MefConfiguration" type="GenericDataAccessLayer.Core.MefConfiguration, GenericDataAccessLayer.Core" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Trusted_Connection=True;Connect Timeout=30;Enlist=true;AttachDbFilename=|DataDirectory|Test.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <MefConfiguration Directory="*" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>