<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MefConfiguration" type="DalCore.MefConfiguration, DalCore"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=Test;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <MefConfiguration Directory="*"/>
</configuration>